architecture: standalone
auth:
  enabled: true
  password: "redispass123"

master:
  persistence:
    enabled: true
    size: 5Gi
    storageClass: gp2
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"

service:
  type: ClusterIP